$myfont: Georgia 1.2em;
$table_head_col: #ccc;
$table_row_col: #eee;
$table_bor_col: #eee;
$container_width: 700px;
$first_col_width: 150px;

$green: #1b382d;
$green-br: #5e9769;
$green-dr: #122b24;
$gold: #ffab93;
$gold-br: #fed1b6;
$gold-dr: #cd7960;

$boti-1: #808775;
$boti-2: #59614a;
$boti-3: #ffffff;
$boti-4: #907061;
$boti-5: #ffc12b;
$boti-6: #533c1c;
$boti-7: #153027;

$green--br: #6B9364;
$yellow--fancy: #FFC12B;

$bp-medium: 768px;

@mixin font-fancy {
    font-family: 'Italianno', cursive;
  }