@import "variables";
footer {
  text-align: center;
  font-size: 1.5em;
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1.8em 0;
    background-color: $boti-3;
    color: darkgoldenrod;
    .adress {
      grid-column: 1;
      grid-row: 1;
      font-size: 1.3em;
    }
    .contact {
      grid-column: 2;
      grid-row: 1;
    }
    .opening {
      grid-column: 3;
      grid-row: 1;
    }
  }
  .description {
    padding: 1.2em 0;
    background-color: $boti-7;
    color: darkgoldenrod;
  }
  a:link {
    text-decoration: none;
    color: $boti-6;
  }

  a:visited {
    text-decoration: none;
    color: $boti-6;
  }

  a:hover {
    text-decoration: underline;
    color: $boti-2;
  }

  a:active {
    text-decoration: underline;
    color: $boti-3;
  }
  @media only screen and (max-width: $bp-medium) {
    .info {
      grid-template-columns: 1fr;
      padding: 0.2em;
      padding-bottom: 1em;
      p {
        margin: 0;
        display: block;
      }
      h4 {
        margin-bottom: 0.8em;
      }
      .adress {
        grid-column: 1;
        grid-row: 2;
      }
      .contact {
        grid-column: 1;
        grid-row: 3;
      }
      .opening {
        grid-column: 1;
        grid-row: 1;
        p {
          display: inline;
        }
      }
    }
  }
}
