@import "variables";

header {
  background-color: #153027;
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 0em;
  margin: 0em;
  .page-logo {
    width: 100%;
    display: static;
    text-align: center;
    a {
      margin: 0 auto;
    }
    img {
      width: 10em;
      padding: 1em;
    }
  }
  .hamburger {
    all: unset;
    display: none;
    color: #ca7e61;
    position: absolute;
    background-color: #153027;
    right: 0px;
    top: 0px;
    padding: 0.5em;
    font-size: 3em;
    margin-top: 14px;
  }
  .close {
    display: none;
  }
  nav {
    margin: 0.5em auto 1em auto;
    ul {
      list-style-type: none;
      margin: 0.5em auto;
      padding: 0.8em;
      overflow: hidden;
      display: inline;
      font-size: 2em;
      li {
        display: inline;
        &:first-of-type {
          color: #153027;
        }
      }

      li a {
        text-align: center;
        padding: 16px;
        text-decoration: none;
        font-weight: 400;
        color: #ca7e61;
        transition: 0.3s;
        &:hover {
          text-shadow: 2px 2px 15px;
          text-decoration: none;
        }
        &:visited {
          text-decoration: none;
        }
      }
    }
  }
}
@media only screen and (max-width: $bp-medium) {
  header {
    flex-flow: row;
    .hamburger {
      display: block;
    }
    nav {
      display: none;
    }
    .open {
      display: flex;
      flex-flow: column;
      justify-content: center;
      background-color: #153027;
      width: 100vw;
      min-height: 100vh;
      height: 100%;
      width: 100%;
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      background-color: rgba(21, 48, 39, 0.97);
      li {
        display: block;
        text-align: center;
        font-size: 2em;
        padding: 0.4em;
      }
    }
    .close {
      all: unset;
      display: block;
      position: absolute;
      background-color: #15302700;
      right: 0px;
      top: 0px;
      font-size: 3em;
      margin-top: 14px;
      img {
        fill: #ca7e61;
        width: 1em;
        height: 1em;
        padding: 1em;
      }
    }
  }
}
