.lunch {
  background-image: url("img/sebastian-coman-photography-kFJ8tL53qcg-unsplash.jpg");
  background-color: rgba($color: #bdf78e, $alpha: 1);
  background-size: cover;
  background-position: center;
  article {
    background-color: rgba(180, 202, 191, 0.01);
  }
  .dish {
    padding: 1.5em;
    text-align: center;
    .dish--box {
      padding: 0.5em;
      margin: 0 auto;
      max-width: 600px;
      $dish: #ffffffd2;
      background-color: $dish;
      box-shadow: $dish 0px 0px 5px 10px ;
    }
    &--title {
      @include font-fancy;
      font-size: 5em;
    
      color:darkgoldenrod;
      margin:0;
    }
    &--name {
      font-weight: 400;
    }
    &--date {
      font-size: 1.5em;
      font-weight: 600;
    }
  }
}
