section.menu {
  background-color: $boti-5;
  h3 {
    border-bottom: 1px solid;
    padding: 4px 0 10px 0;
    font-size: 2em;
    text-align: center;
    font-family: "Dancing Script", cursive;
  }
  .wrapper {
    max-width: 1600px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    article {
      min-width: 321px;
      max-width: 400px;
      color: $boti-6;
      p {
        font-size: 20px;
      }
      .price {
        float: right;
      }
      .desc{
        display: block;
        color: $boti-4;
        font-size: 0.9em;
      }
    }
  }
}