.c-menu {
  padding: 2em 0;
  .wrapper {
    max-width: 1600px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    article {
      min-width: 321px;
      max-width: 400px;
      width: 100%;
      margin: 5px;
      p {
        font-size: 1.25em;
      }
      .price {
        float: right;
      }
      .desc {
        display: block;
        color: #220022;
        font-size: 0.9em;
      }
      @media only screen and (max-width: $bp-medium) {
        max-width: initial;
      }
    }
    .meals {
      @media only screen and (max-width: $bp-medium) {
        padding: 0 0.5em;
      }
    }
  }
}
